<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Gakusei</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>
<script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="//unpkg.com/uport-connect/dist/uport-connect.min.js"></script>