<html>
  <head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript">
      $(function () {
        var email = location.search.replace("?email=", "")
        var token = location.hash.replace("#access_token", "")

        $("#email").val(email)
        $("#token").val(token)
      })
    </script>
  </head>
  <body>
    <form action="/verify" method="post">
      <p>
        <input id="email" type="text">
      </p>
      <p>
        <input id="token" type="text">
      </p>
      <p>
        <button type="submit">Continue</button>
      </p>
    </form>
  </body>
</html>
